.ask-questions {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 180px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .ask-questions-wrapper {
    .ask-questions-title {
      font-family: Lato;
      font-size: 46px;
      font-weight: 900;
      line-height: 59.8px;
      text-align: left;
      color: rgba(30, 33, 44, 1);
    }
    .ask-questions-list-item {
      position: relative;
      margin-top: 35px;

      .item-main-text {
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: rgba(30, 33, 44, 1);
        position: relative;
        margin-left: 40px;
        text-decoration: none;
      }
      .item-hidden-text {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: left;
        color: rgba(120, 122, 128, 1);
        width: 556px;
        margin-top: 20px;
        margin-left: 40px;
      }
    }
    .ask-questions-btn {
      display: inline-flex;
      align-items: center;
      padding: 0 32px;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0.5px;
      text-align: center;
      text-decoration: none;
      margin-top: 60px;
      background-color: rgba(119, 114, 241, 1);
      border-radius: 4px;
      color: rgba(255, 255, 255, 1);
      margin-right: 10px;

      .right {
        margin-left: 10px;
        display: flex;
        align-items: center;
      }
    }
  }
  .ask-questions-img {
    display: block;
    width: 428px;
    height: 423px;
  }
}
.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 10px 0;
  top: -5px;
  position: absolute;
}

.symbol::before,
.symbol::after {
  content: "";
  position: absolute;
  background-color: rgba(119, 114, 241, 1);
  border-radius: 2px;
}

.symbol.minus::before {
  width: 20px;
  height: 2px;
}

.symbol.plus::before,
.symbol.plus::after {
  width: 2px;
  height: 20px;
}

.symbol.plus::before {
  transform: rotate(90deg);
}
.hidden {
  display: none;
}
